In [1]:
from dashboard_new import DataLoader
data_loader = DataLoader()

In [2]:
fwd_df = data_loader.prepare_fwd_vol_data()

[{'Currency': 'BTC', '24SEP25': 0.33385056027603144, '25SEP25': 0.31818331594625127, '26SEP25': 0.327415469023802, '3OCT25': 0.31495753842160346, '10OCT25': 0.3478945369528869, '31OCT25': 0.35830316780505006, '28NOV25': 0.4073501704960903, '26DEC25': 0.4363971887574096, '27MAR26': 0.4484288400887962, '26JUN26': 0.46475911197620123}, {'Currency': 'ETH', '24SEP25': 0.6782183946301168, '25SEP25': 0.6531591244915577, '26SEP25': 0.6747040281980659, '3OCT25': 0.6038939295556249, '10OCT25': 0.6246668010360623, '31OCT25': 0.6239172281620124, '28NOV25': 0.6368481845123697, '26DEC25': 0.6455610457925318, '27MAR26': 0.6577804449482622, '26JUN26': 0.6650858190648283}]

In [3]:
fwd_df

,Currency,23SEP25,24SEP25,25SEP25,26SEP25,3OCT25,10OCT25,31OCT25,28NOV25,26DEC25,27MAR26,26JUN26
0,BTC,NaN,0.333851,0.318183,0.327415,0.314958,0.347895,0.358303,0.407350,0.436397,0.448429,0.464759
1,ETH,NaN,0.678218,0.653159,0.674704,0.603894,0.624667,0.623917,0.636848,0.645561,0.657780,0.665086